.services {
    background-image: url(./back.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.our{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}
.row {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col3 {
    width: 33.3%;
    margin-left: 75px;
}

.pic{
    width: 90%;
}

.h4{
    color: white;
    margin-top: 25px;
    text-align: center;
}

.button{
    background: conic-gradient(from -3.29deg at 100% -13%, #482F00 0deg, #D80000 360deg);
    box-shadow: 0px 0px 30px rgba(255, 127, 80, 0.5);
    border-radius: 10px;
    color: white;
    width: 50%;
    text-align: center;
    margin-top: 25px;
   margin-left: auto;
   margin-right: auto;
}

.button:hover{
    color: black;
}

.kastom{
    background: conic-gradient(from -3.29deg at 100% -13%, #FFF9F1 0deg, #FFFFFF 360deg);
box-shadow: 0px 0px 30px rgba(255, 127, 80, 0.5);
border-radius: 10px;
width: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 50px;
color: black;
font-weight: 500;
font-size: 18px;
}