.slider {
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.2s;
}

.slick-slider {
    width: 100%;
    height: auto;
}

.slick-list {
    width: 100%;
    overflow: hidden;
}

.slick-track {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    transform: 0;
}

.carousel-control-prev {
    width: 22% !important;
    opacity: 5.5 !important;
}

.carousel-control-next {
    width: 22% !important;
    opacity: 5.5 !important;
}

.carousel-item {
    width: 90% !important;
    height: 450px !important;
    /* margin-right: 61px; */
    margin-left: 65px !important;
}