.doneBlock{
    margin-top: 50px;
    margin-left: 50px;
    border: 1px brown solid;
    border-radius: 10px;
    margin-left: auto;margin-right: auto;
    padding: 50px;
    margin-bottom: 25px;
}

.goback{
    border: 1px rgb(85, 47, 47) solid;
    border-radius: 10px;
    margin-left: auto;margin-right: auto;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(85, 47, 47);
}
.we{
    margin-bottom: 25px;
}