.blog {
    background: rgba(177, 133, 101, 0.48);
    background-image: url("./back_blog.png");
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.blogh1 {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #2D1717;
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
}

.col_4 {
    width: 33%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.img1 {
    width: 90%;
}

.textcard {
    width: 90%;
    height: auto;
    background-color: white;
}

.h4_cut {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin-left: 20px;
    width: fit-content;
    padding-top: 10px;
    text-align: left;
    margin-right: 15px;
}

.h6text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
    margin-top: 10px;
    width: inherit;
    margin-bottom: 20px;
    color: #718096;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-left: 20px;
    color: #718096;
    margin-bottom: 20px;
}

.read {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    /* 800 */
    color: #2D3748;
    margin-left: auto;
    margin-right: 20px;
}