.row {
    display: flex;
}

.col-6{
    width: 50%;
    max-width: 50%;
}
.col-6{
    width: 50%;
    max-width: 50%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    /* identical to box height */
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D1717;
    text-shadow: 5px 4px 4px rgba(82, 20, 20, 0.25);
    margin-left: 60px;
    margin-top: 50px;
}

.h5welcome{
    font-weight: 600;
font-size: 30px;
line-height: 44px;
font-family: 'Montserrat', sans-serif;
letter-spacing: -0.64px;
color: #2D0303;
margin-top: 55px;
margin-left: 65px;
}