.row {
    display: flex;
}

.col_6 {
    width: 50%;
    max-width: 50%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    /* identical to box height */
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D1717;
    text-shadow: 5px 4px 4px rgba(82, 20, 20, 0.25);
    margin-left: 60px;
    margin-top: 50px;
}

.h5welcome {
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.64px;
    color: #2D0303;
    margin-top: 55px;
    margin-left: 65px;
    margin-bottom: 25px;
}

.craftcuts_red {
    color: #D80000;
}

.login {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -1.34px;
    color: #2D0303;
    margin-left: 65px;
}

.item{
    list-style-type: none;
}

.Login{
    margin-left: 65px;
    
}

.email_input{
    width: 75%;
}

.password_input{
    margin-bottom: 25px;
    width: 75%;
}

.btn_login{
    margin-bottom: 25px;
    width: 75%;
    background-color: 
    #2D0303 !important;
    color: white;
    opacity: 2;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.imagecol{
    width: 100%;
    height: 555px;
    object-fit: cover;
}

.img_block{
    text-align: -webkit-center;
}

.form-control{
    width: 75% !important;
}